.comment.form {
  display: flex;
  flex-direction: column;
  width: 100%
}

.comment-input-field {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.1em;
  box-sizing: border-box;
}

.comment-input-field:focus {
  outline: none;
  border: 1px solid #368df7;
}

#comment-post-button {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.comment-btn {
  border: none;
  background-color: #b6b9bb;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  padding: 5px 50px;
  border-radius: 20px;
}

.comment-btn:hover {
  background-color: #2986f7;
  cursor: pointer;
}

#comment-ul {
  padding: .35em 0;
}

.comment-li {
  padding-bottom: 1em;
}

.comment-item {
  padding-bottom: .35em;
}

#comment-author-display {
  font-weight: bold;
}

.active-comment-button {
  background-color: #0870d1;
}