#photo-gallery-container {
  width: 100%;
  padding: 0 35px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-index-photo-container {
  /* width: 320px; */
  height: 200px;
  text-align: center;
  background: lightgray;
}

.photo-gallery-photo-item {
  width: auto;
  height: 100%;
  margin: auto;
}