#photo-gallery-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.gallery-index-photo-container {
  width: 320px;
  height: 200px;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px;
}
