.top-nav-header {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  height: 72px;
  display: flex;
  align-items: center;
}

#header-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-left-container, #header-right-container{
  display: flex;
  flex-direction: row;
}

#header-logo {
  align-self: center;
}

#header-logo > a {
  font-family: 'Baumans', cursive;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin-right: 1em;
}

#header-logo > a:hover , .header-link > a:hover {
  color: #368df7;
}

#header-links {
  display: flex;
  flex-direction: row;
}

.header-link {
  align-self: center;
  margin: 0px 10px
}

.header-link > a {
  text-decoration: none;  
  color: black;
}

#header-login-button {
  font-weight: bold;
}

.header-user-icon {
  width: 30px;
  vertical-align: middle;
  border: 0px solid #e5e6e9;
  border-radius: 50%;
  background-color: #e5e6e9;
}

.header-user-icon:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background: #fff;
  border-radius: 4px;
  width: 100px;
  margin: 20px auto;
  position: absolute;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}

.dropdown-menu > ul {
  margin: 5px 0;
}
.dropdown-link {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  color: black
}

.dropdown-link:hover {
  background-color: #368df7;
  color: white;
}

#header-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

#header-upload-button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#header-upload-button:hover, #header-upload-button:hover > a {
  border-color: #368df7;
}
