.top-nav-header {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  height: 72px;
  display: flex;
  align-items: center;
}

#header-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}

#header-left-container, #header-right-container{
  display: flex;
  flex-direction: row;
}

#header-links {
  display: flex;
  flex-direction: row;
}

.header-link {
  padding: 0px 10px;
}

.header-user-icon {
  width: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background: #fff;
  border-radius: 4px;
  width: 150px;
  margin: 20px auto;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
/* ----------------------------------------------------- */
/* .dropdown-btn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display:block;} */
/* ----------------------------------------------------- */


/* .popover-container {
  width: 200px;
  margin: 50px auto;
  position: relative;
} */

/* 
.top-nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav-logo-link-container {
  display: flex;
  flex-direction: row;
}

.logo-link-container {
  display: flex;
  align-items: center;
}
.logo-link {
  text-decoration: none;
  color: black;
  font-family: 'Palanquin', sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-right: 10px;
}

.logo-link:hover {
  color: blue;
}

.top-nav-link-container {
  display: flex;
  align-items: center;
  margin: 0 10px
}

.top-nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.top-nav-link:hover {
  color: mediumblue;
}

.top-nav-right {
  display: flex;
  align-items: center;
}

.header-login-button {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.header-login-button:hover {
  color: blue;
}

.header-signup-button {
  display: flex;
  height: 40px;
  align-self: center;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
}

.header-signup-button:hover {
  color: blue;
}

.header-user-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  border: 0px solid whitesmoke;
  border-radius: 50%;
  background: whitesmoke;
}

.header-user-icon:hover {
  background: lightgray;
  cursor: pointer;
}

.header-upload-button {
  display: flex;
  height: 40px;
  align-self: center;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
}


.header-upload-button:hover {
  background: lightgray;
}

.header-user-dropdown {
  position: relative;
  display: inline-block;
}

.header-user-dropdown-content {
  position: absolute;
  display: none;
  width: 100px;
  background: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 50px;
  box-shadow: 5px 5px 10px 2px lightgray, -5px -5px 10px 2px lightgray;
}

.header-user-dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  cursor: pointer;
  color: white;
  background: blue;
}
.show {
  display: block;
} */