.top-nav-header {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1000;
}

.top-nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  padding: 15px;
}

.top-nav-right {
  padding: 20px;
}

.logo-link {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.logo-link:hover {
  color: blue;
}

.header-signup-button {
 padding: 5px 15px 5px 15px;
 text-decoration: none;
 font-family: sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: black;
 border: 2px solid black;
 border-radius: 20px;
}

.header-login-button {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.header-upload-button {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
}

.header-signup-button:hover {
  color: blue;
}

.header-login-button:hover {
  color: blue;
}

.header-upload-button:hover {
  color: blue;
}