.photo-show-page-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.photo-show-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(17, 17, 17);
}

.photo-show-image {
  max-height: 500px;
  max-width: 100%;
  object-fit: contain;
  padding: 50px; 
}

.photo-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: center
}

.photo-details-cols {
  background-color: white;
}

#photo-details-left-col {
  width: 500px;
}

#photo-details-right-col {
  width: 250px;
}

.photo-title-name {
  padding: 1em;
}

#photo-details-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

.photo-details-sub {
  padding: 1em;
}

#photo-details-uploaded-date > span {
  font-weight: bold;
}

#photo-details-description {
  padding-top: 3em;
}

/* #photo-details-name {
  line-height: 1.2em;
} */
/* 

.photo-details-sub {
  padding: 25px 0
}
.photo-details-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.photo-details-user-link {
  text-decoration: none;
  color: black;
  padding: 5px 0;
}

.photo-details-user-link:hover {
  color: mediumblue;
}

.photo-details-uploaded-date {
  padding: 5px 0;
}

.photo-details-description {
  padding: 5px 0;
}

#photoshow-follow-btn {
  color: blue;
  cursor: pointer;
} */