/* .profile-main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 80px;
  padding-top: 100px;
  align-items: center;
  background: white;
  border-bottom: 1px solid lightgray;
}

.profile-username-display {
  font-size: 32px;
}

.profile-name-container {
  display: flex;
  flex-direction: row;
}

.profile-name-container > div {
  padding: 0 10px;
}

.profile-follow-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.profile-follow-count {
  color: gray;
  padding: 0 10px;
}

.profile-follow-count:hover {
  color: lightgray;
}

.profile-photo-gallery {
  padding: 15px 0;
  border-bottom: 2px solid blue;
}

.profile-photo-gallery-heading {
  font-weight: bold;
  color: blue;
}

.profile-photos-container {
  width: 100%;
  padding: 0 35px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#profile-follow-btn {
  color: white;
  background: blue;
  height: 20px;
  width: 75px;
  font-size: 14px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#profile-follow-btn:hover {
  background: rgb(0, 89, 255);
}
 */
