.session-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  height: 100vh;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid lightgray;
  background: white;
  margin: auto;
}

.signup-text {
  text-align: center;
  color: gray
}

.session-input-label {
  padding: 10px;
}

.session-input-field {
  width: 320px;
  padding: 15px;
  margin: 10px 0px;
  border: 1px solid lightgray;
  border-radius: 3px;

}

.session-input-button {
  width: 320px;
  padding: 15px;
  border-radius: 25px;
  border: 0;
  background: mediumblue;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.session-input-button:hover {
  cursor: pointer;
}

.session-nav-link {
  text-decoration: none;
  color: blue;
}

.session-nav-link:hover {
  text-decoration: underline;
}

.session-error-list {
  color: red;
  list-style-type: none;
  padding: 0;
}